{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="container">

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="colsm-12">
                    <h2> {{ _('%(model_name)s', model_name=model.model_name) }} </h2>
                </div>
            </div>
            <small> {{ _('Built in %(create_time)s', create_time=moment(model.timestamp).format('LLL')) }} </small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h4 class="text-center"> Model detail </h4>
                <dl>
                    <dt> Name </dt>
                    <dd> {{ _('%(name)s', name=model.model_name) }} </dd>
                    <dt> Target </dt>
                    <dd> {{ _('%(target)s', target=model.model_target) }} </dd>
                    <dt> Statue </dt>
                    <dd> {% if model.pid == 0 %}Done {% else %} Not complete {% endif %} </dd>
                </dl>
            </div>
        </div>

        <div class="col-md-6">
            {% if form %}
            {{ wtf.quick_form(form) }}
            <br>
            {% elif img_url %}
            <a class="btn btn-default btn-circle" href="{{ url_for('model.detail', model_id=model.id)}}">{{ _('Back') }}</a>
            <div>
                {% if confidence > 0.5 %}
                    <span> I think there is a(n) {{ label }} with confidence {{ confidence }}</span>
                {% else %}
                    <span> I don't think there is any target in the picture </span>
                {% endif %}
            </div>
            <div><img src={{ img_url }}></div>

            {% endif %}
        </div>

    </div>

</div>

{% endblock %}