{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1> Start to create your own model! </h1>
    <hr>
    {% if form %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {% for field, msgs in form.errors.items() %}
                        {% for error in msgs %}
                            <div class="alert alert-info" role="alert">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}

                    {{ wtf.form_field(form.model_name) }}
                    {% for model_target in form.model_targets %}
                        {{ wtf.form_field(model_target) }}
                    {% endfor %}
                    <div class="container">
                        <div class="col-md-2">{{ wtf.form_field(form.add_target, button_map={'add_target':'primary'}) }}</div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">{{ wtf.form_field(form.remove_target, button_map={'remove_target':'danger'}) }}</div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">{{ wtf.form_field(form.submit, button_map={'submit':'success'}) }}</div>
                        <div class="col-md-2"></div>
                    </div>

                </form>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <br>
    {% endif %}

{% endblock %}